body {
    margin: 0;
    padding: 0;
}
.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200%;
    width: 100%;
    font: 400 16px Roboto, sans-serif;
}
.main-div h1 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}
.main-div h2 {
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0 0;
}
.container_dark, .container_bright {
    transition: background-color 0.4s ease, color 0.4s ease;
    animation: fadein 2s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.container_dark {
    background-color: #000;
    color: #f5f5f5;
}
.container_bright {
    background-color: #f5f5f5;
    color: #000;
}
.social-media_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
}
.social-media_icon {
    margin: 0 0.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: transform 0.4s ease;
}
.social-media_icon:hover {
    transform: scale(1.2);
}
.social-media_icon:active {
    transform: scale(0.8);
}



footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 400 75px Roboto, sans-serif;
}
.joy-container {
    margin-top: 40%;
}

.joy-container img, .joy-container video {
    width: 40%;
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000;
    border-radius: 2%;
    box-shadow: 0 0 10px #000;
    cursor: pointer;
    transition: transform 0.4s ease;
}
.joy-container img:hover, .joy-container video:hover {
    transform: scale(1.1);
}
.joy-title {
    margin: 0;
    text-align: center;
    font: 400 20px Roboto, sans-serif;
    margin-bottom: 2.5rem;
}
.blank {
    width: 100%;
    height: 500px;
}
.easterEgg {
    display: block;
    position: relative; /* Add position: relative for z-index to work */
    z-index: 999; /* A high value to bring it forward */
    justify-content: center;
    align-items: center;
}