.custom-loader {
    width: 100px;
    height: 100px;
    display: grid;
    color:#60BBF4;
    background: radial-gradient(farthest-side, currentColor calc(100% - 12px),#0000 calc(100% - 10px) 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 26px),#000 calc(100% - 24px));
    border-radius: 50%;
    animation: spin 2s infinite linear;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .custom-loader::before,
  .custom-loader::after {    
    content:"";
    grid-area: 1/1;
    background:
      linear-gradient(currentColor 0 0) center,
      linear-gradient(currentColor 0 0) center;
    background-size: 100% 20px,20px 100%;
    background-repeat: no-repeat;
  }
  .custom-loader::after {
    transform: rotate(45deg);
  }
  
  @keyframes spin { 
    100% {transform: rotate(1turn)}
  }
  